/* 「コメントを書く」のリンクを非表示 */
.leave-comment-title {
  display: none !important;
}

/* index ページでは記事は表示しない */
body.page-index #wrapper {
  display: none;
}

/* archive ページではタイトルだけ表示する */
body.page-archive .entry-description,
body.page-archive .entry-thumb-link {
  display: none;
}
